[submodule "thirdparty/shogl"]
	path = thirdparty/shogl
	url = https://github.com/spiroyster/shogl.git
[submodule "thirdparty/jahoutf"]
	path = thirdparty/jahoutf
	url = https://github.com/spiroyster/jahoutf.git
[submodule "thirdparty/glo"]
	path = thirdparty/glo
	url = https://github.com/spiroyster/glo.git
[submodule "thirdparty/rapidjson"]
	path = thirdparty/rapidjson
	url = https://github.com/Tencent/rapidjson.git
